<div class="header">
  <h2>Zype API Demonstration</h2>
</div>

<div class="link-box">
  <%= link_to "View Available Videos", videos_path, class: 'main-link' -%>
</div>

<div class="watermark">
  Zype
</div>
