<div id="zype_player"></div>
<script src="<%= @player_path -%>"></script>

<div class="video-details">
  <h3><%= @video[:title] -%></h2>
  <p class="desc"><%= @video[:description] -%></p>
</div>

<div class="link-box">
  <%= link_to "Return to Listing", videos_path, class: 'main-link' -%>
</div>
