// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding: 0;
	font-family: Lato;
	background-color: hsl(0, 0%, 15%);
	color: white;
	-webkit-font-smoothing: antialiased;
}

h2, h2 > a {
	font-weight: 300;
	font-size: 40px;
	padding: 0 8px;
	margin: 0 0 4px 0;
	border-bottom: 1px solid hsl(0, 0%, 50%);
}

h4 {
	padding: 0;
	margin: 8px 0;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: hsl(0, 0%, 67%);
}

.header {
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 16px;
	padding: 16px 0;
}

li {
	text-align: center;
	flex: 22.5% 1 1;
	padding: 8px 4px;
	margin: 4px;
	background-color: hsla(0, 0%, 100%, 0.05);
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	border-radius: 2px;

	&:hover {
		background-color: hsla(200, 50%, 50%, 0.1);
		border: 1px solid hsla(0, 0%, 100%, 0.75);
	}

	&.requires-signin {
		background-color: hsla(330, 50%, 50%, 0.1);
	}
}

h5 {
	padding: 0;
	margin: 4px;
	font-weight: 400;
	font-size: 16px;
	color: hsla(0, 0%, 100%, 0.67)
}

a {
	color: hsl(220, 50%, 50%);
	font-size: 15px;
	text-decoration: none;
}

.main-link, .sign-out input {
	font-size: 18px;
	text-align: center;
	color: hsl(220, 50%, 50%);
	border: 1px solid hsla(220, 50%, 50%, 0.75);
	background-color: hsla(220, 50%, 50%, 0.1);
	padding: 4px 8px;
	border-radius: 2px;

	&:hover {
		color: white;
		background-color: hsla(220, 50%, 50%, .5);
	}
}

.link-box {
	text-align: center;
	padding: 16px 0;
}

.page-bar {
	text-align: center;
	margin: 16px 0;
	padding: 16px 0;
}

.page-bar a {
	display: inline-block;
	border: 1px solid hsla(0, 0%, 100%, 0.5);
	border-radius: 12px;
	background-color: hsla(280, 50%, 50%, 0.25);
	color: hsla(0, 0%, 100%, 0.85);
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	line-height: 24px;
	height: 24px;
	padding: 0 12px;
	margin: 0 8px;
	min-width: 10%;

	&:hover {
		border-color: hsla(0, 0%, 100%, 0.75);
		background-color: hsla(280, 50%, 50%, 0.5);
	}

	&.atFront, &.atEnd {
		opacity: 0;
	}
}

.page-bar h4 {
	display: inline-block;
}

.watermark {
	opacity: 0.1;
	position: fixed;
	width: 100%;
	padding: 256px 0;
	font-family: 'Shrikhand';
	font-size: 256px;
	text-align: center;
	pointer-events: none;
	color: hsl(0, 0%, 5%);
	text-shadow: 1px 1px 0 hsl(0, 0%, 90%);
}

#zype_player {
	background-color: black;
	padding: 64px 8px;
}

.video-details {
	padding: 32px;

	h3 {
		font-size: 24px;
		text-align: center;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		margin: 16px 32px;
	}
}


.sign-in form {
	width: 50%;
	margin: 64px auto;
}

.form-row {
	padding: 8px 0;

	&.final {
		text-align: center;
		margin-top: 16px;
	}

	label {
		display: inline-block;
		text-align: right;
		width: 30%;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: hsla(0, 0%, 100%, 0.75);
		padding: 2px 8px 2px 0;
	}

	input {
		display: inline-block;
		width: 68%;
		padding: 4px 15px;
		height: 30px;
		outline: none;
		color: hsl(0, 0%, 90%);
		border-radius: 15px;
		border: 1px solid hsla(0, 0%, 100%, 0.5);
		background-color: hsla(0, 0%, 100%, 0.1);

		&:focus {
			color: hsl(0, 0%, 10%);
			background-color: hsla(0, 0%, 100%, 0.75);
		}
	}
}

.flash {
	width: 50%;
	margin: 8px auto;
	background: hsla(60, 50%, 50%, 0.25);
	padding: 16px 8px;
	border-radius: 2px;
}

.sign-out {
	margin: 32px 0 256px 0;
	text-align: center;
}
